# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# R 
.RData
.Rhistory

# IDE
.vscode/
.idea/

# Large generated data
sim_outputs_*/
sim_ct_df*/

# Private data
outputs/
_data/
